* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.adoption-animalForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.adoption-animalForm h1 {
  text-align: center;
  color: #333;
  margin-bottom: 50px;
  font-size: 40px;
}
.adoption-animalForm label {
  display: block;
  margin-top: 10px;
  color: #333;
}
.adoption-animalForm input,
.adoption-animalForm select,
.adoption-animalForm textarea {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: inherit;
}

.adoption-animalForm textarea {
  resize: initial;
  height: 190px;
}
.adoption-animalForm button {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #7b45a0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
}

.adoption-animalForm button:hover {
  background-color: #5b2083;
}
